<!doctype html>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.5.7/dist/css/uikit.min.css" />
    <link rel="stylesheet" href="../static/styles.css">
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.5.7/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.5.7/dist/js/uikit-icons.min.js"></script>
<title>City List</title>

<body>
    <div class="cities">
        <h1 class="uk-heading-small">City Information</h1>
        <ul class="uk-list uk-list-circle">
            {% for cities in data[0] %}
                <li>{{cities}}</li>
            {% endfor %} 
        </ul>
        <h1 class="uk-heading-small">Complete List of Cities</h1>
        <ul class="uk-list uk-list-circle">
            {% for cities in data[1] %}
                <li>{{cities}}</li>
            {% endfor %} 
        </ul>
    </div>
</body>