<!doctype html>
<link rel="stylesheet" href="../static/styles.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.5.7/dist/css/uikit.min.css" />
<title>Common Cities</title>
<body>
    <div>
        <h1 class="mainHeading uk-heading-small">Enter a city</h1>
        <form method="POST">
            <div class="form-inline">
            <div class="form-group">
                <input class=".uk-input" name="information" placeholder="City">
            </div>
            </div>
        </form>
    </div>
</body>